<html lang="en">
  <head>
    <title>Nutrition Parsing Result</title>
  </head>
  <body style="font-family:helvetica,serif">
    <div style="text-align: center;">
      <h1 style="font-family:helvetica,serif">Ingredients & Nutrients Parser</h1>
      <br>
        <img src="data:image/jpeg;base64,{{image_data}}" width="500" alt="parsing-result"/>
        <br>
        <table border="1" width="70%">
          <tr>
            <td><b>Ingredients</b></td>
          <td>{{ingredients}}</td>
          </tr>
          <tr>
            <td><b>Allergens</b></td>
          <td>{{allergens}}</td>
          </tr>
          <tr>
            <td><b>Nutrition</b></td>
          <td><pre>{{nutrition}}</pre></td>
          </tr>
        </table>
    </div>
  </body>
</html>


