name: Python CI

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
      - '*.png'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '.gitignore'
      - '*.png'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Check compilation
      run: |
        python -m compileall .
    - name: Test with pytest
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        pytest tests/test_ingredients_vision.py
    - name: Build Docker image
      run: |
        docker build -t ingredients-parser:latest .
